{% extends "base.html.twig" %}

{% block title %}Marques{% endblock %}

{% block body %}

    <h1>Liste des marques</h1>

    {% if marques is empty %}
        <p class="alert alert-danger">Aucune marque trouvée</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                {% for marque in marques %}
                    <tr>
                        <td>{{ marque.id }}</td>
                        <td>{{ marque.nom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}