{% extends "base.html.twig" %}

{% block title %}
	{{slug | capitalize}}
{% endblock %}
{% block body %}
	<h2>Formulaire en cours de construction</h2>
	<a href="{{ path('marque_liste')}}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
